
/* Css Datei für die Homepage */
body{

    background-color: #FFc1c1;
  
    margin-left: 10 px;
}

.anfang{
background-color: #d2b48c;
font-family: 'Courier New', Courier, monospace;
margin-top: 50px;
padding: 10px;

}

h1{
	font-family: Garamond, serif;
	font-weight: normal;
	margin-bottom: 4em;
	text-align: center;
}

li{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 20px;
   margin-top: 10px;
}

button{

        background: linear-gradient(to bottom, white, red);
}


article {

    text-align: center;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

h2{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    
}



.schnauzerhund{

    border: white;
    margin: 50px;
    border-radius: 60%; /* Macht das Bild rund */
}

.boxerhund{
    border: white;
margin: 50px;

}

.lol{

    background-color: #ffdead;
}

.lfarbe {

    background-color: #fafad2;
}