
/* Css Datei für die Homepage */
body{

    background-color: #FFc1c1;
   font-family: Arial, Helvetica, sans-serif;
    margin-left: 10 px;
}

h1{ font-family: Helvetica, 'Times New Roman', Times, serif;
    color: #0000FF; 
    margin-left: 100px;
    text-align: center;

}

header{
   
}

img.hundb{
    float: right;
    width: 234px;
    height: 123px;
    margin-left: 20px;
    border: 1px solid red;
}