/* Css Datei für die Homepage */

body {
    background-color: #FFFFE0;
    margin-left: 10 px;
}


  /* Überschrift */
  h1 {
    font-size: 50px;
    text-align: center;
	display: table;
	border-collapse: collapse;
    white-space: nowrap;
   
	width: 50%;
    margin-top: 30pt;
    margin-bottom: 60pt;
    background-image: linear-gradient(to right, #c4d4da 100%, transparent 100%);
}


button{                              /* der Button zum Artikel */

        display: inline-block;
        padding: 15px 25px;
        font-size: 30px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #4CAF50;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
     margin-right: 30pt;
     margin-left: 10pt;
     padding: 10pt ;
     margin-bottom: 10pt
}


li{                 /* Listenelement*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
 }

 article {

    text-align: center;
    margin-top: 10px;
    font-family: "Marker Feh", "Comic Sans MS", fantasy;
    padding:10pt;
}

header{             /* header HIntergrundfarbe*/
    background-color: #FFFACD;
}



.anfang{                    /* Dies ist der Section Tag aber nur extra benannt */

    background-color: #d2b48c;
    font-family: 'Courier New', Courier, monospace;
    margin-top:50px;
    padding: 10px;
}




h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    margin-right: 10pt;
    margin-left: 10pt;
    padding: 10pt ;
    margin-bottom: 10pt;
    margin-top:10pt;
}

.schnauzerhund{             /* Macht das Bild rund */

    border: white;
    margin: 10px;
    border-radius: 60%; 
    order: white;

    border-radius: 60%;
    margin-top: 10pt;
    margin-left: 10pt;
    margin-right: 10pt;
    margin-bottom: 10pt;
    padding:10pt;

}

.boxerhund{
    border: white;
    margin: 10px;
    border-radius: 60%;
    margin-top: 10pt;
    margin-left: 10pt;
    margin-right: 10pt;
    margin-bottom: 10pt;
    padding:10pt;
}

.lol{                   /* Section zum Boxerwelpen*/

    background-color: #FFDEAD;
    padding: 10pt;
}

.labr{                  /* Section zum Labradorwelpen*/
background-color: 	#eec900;
padding:10pt;
}

.dogl{              /* Bild von Labradorwelpen*/

    border: white;
    margin: 10px;
    border-radius: 60%;
    margin-top: 10pt;
    margin-left: 10pt;
    margin-right: 10pt;
    margin-bottom: 10pt;
    padding:10pt;
}


footer{
clear: both;
background-color: #87ceeb;
border-top: 30px solid #000000;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
border-bottom: 30px solid #000000; 
margin-bottom: 10pt;
}

p{

    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}
