






/* Css Datei für die Homepage */
body {
    background-color: #FFFFE0;
    margin-left: 10px;
}



header{             /* header HIntergrundfarbe*/

    width: 100%;
    background-color: #FFFACD;
    margin-left: auto;
    margin-right: auto;
    
}

ul{/* Header*/
margin: 0;
padding: 2px;
overflow: hidden;

height:5em;

position: fixed;
z-index:1000;

}

ul:hover{
    transition: all 0.3s ease-out;
height:18em;
background-color: #008000;
}



.klick{
    font-family:cursive;
    color: -webkit-link;
    cursor: pointer;
}

li ,  .artikel{

text-align: center;
   
text-decoration: underline;

}






#contact{ /* springt zum footer */
    font-family:cursive;
    color: -webkit-link;
    cursor: pointer;

}







.artikel{ /* Stern Artikel hat einen Strich und ist blau */

    font-family:cursive;
    color: -webkit-link;
    cursor: pointer;
    
}


  /* Überschrift */
  h1 	{color: #008000;
  text-shadow: 1px 1px blue, 2px 2px blue, 3px 3px blue;
  top: 0;
  left: 0;
  transition: all 0.3s ease-out;
  font-size: 50px;
  margin-left: 7em;
  margin-bottom: 1em;
}

h1:hover {
  position: relative;
  top: -3px;
  left: -3px;
  text-shadow: 1px 1px blue, 2px 2px blue, 3px 3px blue, 4px 4px blue, 5px 5px blue, 6px 6px blue;
}


 .sweetdog{

    margin-right: 4em;;
     margin-left: 7em;
  margin-bottom: 1em;
    width: 50%;
   
 
    


    display: inline-block;

    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #DEB887;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
 margin-right: 5pt;
 margin-left: 210pt;
 padding: 10pt ;
 margin-bottom: 20pt;
 
}

button{

    
    display: inline-block;

    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #008000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
 margin-right: 115pt;
 margin-left: 440pt;
 padding: 10pt ;
 margin-bottom: 30pt;
 margin-top: 30pt;
    

}


.klick{
    float:left;
   
}






button:hover{             /* Button verfärbt sich beim rübergehen*/
    color: #000000;
}



li{                 /* Listenelement*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
 }

 article {

    text-align: center;
    margin-top: 10px;
    font-family: "Marker Feh", "Comic Sans MS", fantasy;
    padding:10pt;
}

header{             /* header HIntergrundfarbe*/
    float: middle;
    clear: left;
    background-color: #FFFACD;
    margin-left: auto;
    margin-right: auto;
}



.anfang{                    /* Dies ist der Section Tag aber nur extra benannt */

    background-color: #d2b48c;
    font-family: 'Courier New', Courier, monospace;

    width:25%;
    float:left;
   
}



h2, article{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin-right: 10pt;
    margin-left: 10pt;
    padding: 10pt ;
    margin-bottom: 10pt;
    margin-top:10pt;
}

.schnauzerhund{             /* Macht das Bild rund */

    border: white;
    margin: 10px;
    border-radius: 60%; 
    order: white;

    
    margin-top: 10pt;
    margin-left: 20pt;
    margin-right: 10pt;
    margin-bottom: 50pt;
 
    
    width: 200px;


}

.boxerhund{             /* Bild Boxer */
    border: white;
    margin: 10px;
    border-radius: 60%;
    margin-top: 10pt;
    margin-left: 5pt;
    margin-right: 10pt;
    margin-bottom: 10pt;
padding: 10pt;
    
    width:200px;
}

.lol{                   /* Section zum Boxerwelpen*/

    background-color: #FFDEAD;
    
    text-align: center;
    width: 25%;
  
    float:left; /* Befehl dass ein Container an nächster Stelle sich links befindet*/
    
}


.labr{                  /* Section zum Labradorwelpen*/
background-color: #eec200;
text-align: center;
width: 25%;
float:left;
}

.dogl{              /* Bild von Labradorwelpen*/

    border: white;
    margin: 10px;
    border-radius: 60%;
    margin-top: 10pt;
    margin-left: 10pt;
    margin-right: 10pt;
    margin-bottom: 10pt;
  
    width:180px;
}


section{

    width: 15%;
    height: 30em;
    float: left;
    margin: 1%;
    overflow: auto;
    clear: none;
    
}

footer {
clear: both;
background-color: #87ceeb;
border-top: 30px solid #000000;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
border-bottom: 30px solid #000000; 
margin-bottom: 10pt;
margin-top:100pt;
position: sticky;
}

p{

    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    color: #FF0000;
    padding:10pt;
}

.wrapper {

    width: 70%;
    float: left;
    padding-left: 10px;
    
margin-bottom:50pt;
position: relative;

    }


aside { 
    
    float: left;
   width: 15%;
   height: 1500px; 
   padding-left: 20px;
   position: relative; 
}

.spacer{
    width:100%;
}

aside p:hover
{background-color: #000000;
   
    transition: all ease 1.5s;
    

	
      	margin: 6pt;
      	max-width: 1000px;
        border-radius: 10pt;
width:300px;
float:left;
}






.schrift:hover{
   color: #FFF;
}




.Hoverme {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #FF0000;
    font-size: 44pt;
 
}



.wrapper :nth-child(3n+1)
{

    clear:left;
}











/* AB HIER Tablet*/


@media  screen and (max-width: 768px)
{


    body {/* SChwarz bei Tablet*/
        background-color: #000000;
        margin-left: 10px;
    }

    
    h1{
        float:left;
        width:90%; 
        margin-left:63pt;
      }



.sweetdog{
    width:95%;
    margin-left:11pt;
}



.klick{
    width:80%;
  
}

button{
    margin-left:0pt;
    width:80%;
}




.anfang{

    width:80%;
    position:absolute;
}

.lol{

    width:80%;
    position:relative;
}

.labr{

    width:80%;
    position:relative;
}




aside{
width:20%;
margin-left:0pt;
}


footer{
    width:100%;
position: sticky;
}


}















/*Ab hier SMARTPHONE*/
@media  screen and (max-width: 100px)
{

    body {
        background-color: white;
        margin-left: 10px;
        }



        Main > div.Box:nth-child(4n+2) {
            Clear: left;
            }

    h1{
        float:left;
        width:100%;
        margin-left:0;
        margin-right: 0;
        text-align: center;
      }


      nav
      {
        
        
        margin-left:30%;
        text-align: center;
        line-height: 2em;
        float:left;}
          
.wrapper{

    width:100%;
    clear:left;
}

.sweetdog{

    width:100%;
    margin-left:0;
}



.klick{
    width:100%;
}

button{

    margin-left:70pt;
}

aside{

    display:none;
}

.anfang{

    width:100%;
    position:absolute;
}

.lol{

    width:100%;
    position:relative;
}

.labr{

    width:100%;
    position:relative;
}






footer{
    width:100%;
position: sticky;
}


}

