/* css für Codebeispiel 22-3*/
/* Responsive Liquid Layout */


@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	margin:0;
	padding:0;
	
	font-family: "Lato", "Helvetica", "Arial", sans-serif;
	font-size: 1em;
}


header {
	background-color:#EEE;
	border:1px solid #DDD;
	border-radius: 0.5em;
}


header ul {
	padding:0.25em;
	margin:0;
}


header li {
	list-style: none;
	height: 2em;
	padding:0.25em;
	margin:0;
	border-bottom:1px solid #fff;
}

/* added */
ul li:last-child {
	border-bottom:0px solid #fff;	
}


main > h1 {
	
	padding:1%;
	margin: 1%;
	width: 96%;
	
}

main > div {
	
	background-color: #eee;
	padding:1%;
	margin: 1%;
	width: 96%;
	min-height: 18em; /* fluid responsive */
	border-radius: 0.5em;
	float:left;

}


div > img {
	width:100%; /* fluid responsive width */
}

button {

  width:80%; /* fluid responsive width */
  margin:auto; 	
  		
	
  font-family: 	"Courgette", sans-serif;
  font-size: 1.2em;	
  display: block;
  padding: 0.5em;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 1.6em;
  box-shadow: 0 0.0625em 0.25em rgba(0, 0, 0, .6);
  background-color: #2ecc71;
  color: #ecf0f1;
  
  cursor: pointer; 
  
}

footer {

	background-color:#EEE;
	border:1px solid #DDD;
	border-radius: 0.5em;
	padding: 1%;
	clear: left; 
	color:#333;
}	

footer a {
	color: #333;
	text-decoration: none;"
}


@media screen and (min-width: 36.625em) {
	main > div {
		width: 46%;	
	}		
}



@media screen and (min-width: 48em) {
	main > div {
		width: 29.3%;	
	}
	
	header {
		overflow:auto;
	}
	
	header ul {
		padding:0em;
	}
		
	/* added */
	header li {
		display:inline;
		float:left;
		border-bottom:none;
		/* padding: 2.5em,1em,0em,0.5em;*/
		padding-top:1.5em;
		padding-left:0.5em;
		padding-right:0.5em;
		
	}			

	footer {
		overflow: auto;
	}
	
	footer div {
		width: 33%;
		float:left;
	}


}



@media screen and (min-width: 64em) {
	
	main > div {
		width: 21%;	
	}	
	
	
	main > h1 {
		padding:1%;
		margin: 1%;
	}
	
	
	header,footer {
		padding: 1%;
		margin: 1%;
	}
	
}



@media screen and (min-width: 100em) {
	main > div {
		width: 16%;	
	}		
}


/* Besondere Anweisungen für andere Medien */
@media print {
	
	body {
		font-size: 10pt;
	}
	
	header, footer {
		display:none;
	}

	main > div {
		width: 29.3%;
		height: 80pt;
	}	
}